<html>
	<head>
		<title>Metadata Angular Example</title>
		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<link href="http://tekpub.com/stylesheets/application.css?1366910856" rel="stylesheet" type="text/css"/>
		<link href="default.css" rel="stylesheet" type="text/css" />

		 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
		 <script src="scripts/app1.js"></script>
	</head>
	<body>
		<h1>Metadata Browser</h1>
		<p>Walking through <a href="http://tekpub.com/productions/angular/1">Tekpub Angular JS</a></p>
		<article class="main">
		<div class="container" ng-app>
			<div ng-controller="myController"> <!-- Ties to myController pulled in in js -->
				<h2><span>Metadata</span></h2>
				<p>
					<label for="metadataType">Type: </label>
					<select ng-model="selectedType" ng-options="type.name for type in metadataTypes">
						  <option value="" selected>Select type ..</option>  
					</select>
				</p>
				<!-- item list -->
				<table class="table table-striped">
					<thead><tr>
						<th>Item</th>
					</tr></thead>
					<tbody>
						<tr ng-repeat="item in selectedType">
							<td>{{item}}</td>
							
						</tr>
					</tbody>
				</table>
				<!-- pluralizer -->
				<p><ng-pluralize count="items.length" when="pluralizer" /></p>
			
				<p>
					<label>name</label>
					<input type="text" ng-model="name" />
				</p>
				<p>
					<label>price</label>
					<input type="text" ng-model="price"/>
				</p>
				<p><button class="btn btn-success" ng-click="addItem()">Add</button></p>
			</div>
		</div>
	</article>
	</body>
</html>
