<html>
	<head>
		<title>First Angular Example</title>
		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<link href="default.css" rel="stylesheet" type="text/css" />

		 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
		 <script src="scripts/app1.js"></script>
	</head>
	<body>
		<h1>First Angular Example</h1>
		<div class="container" ng-app>
			<input type="text" ng-model="name"/>
			<h2>Hello {{name}}</h2>

			<div ng-controller="myController"> <!-- Ties to myController pulled in in js -->
				<h2>Beers</h2>
				<ul>
					<li ng-repeat="beer in beers">{{beer.name}}: {{beer.price | currency}}  brewed on {{beer.brewedOn | date: 'fullDate'}}</li> <!-- pipe denotes a filter, in this case the currency and date filters.  Note, date has a specific format as well -->
				</ul>
			</div>
		</div>
	</body>
</html>